* {
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.app {
  margin: 0rem;
  padding: 0 100px;
  gap: 20px;
  color: rgb(64, 64, 64);
}
@media (max-width: 1048px) {
  .app {
    padding: 0 60px;
  }
}
